body {
font-family: 'Poppins', sans-serif;
background: linear-gradient(120deg, #ffd6e7, #fff6d9, #ffe9fa);
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
}

.container {
background: rgba(255, 255, 255, 0.7);
backdrop-filter: blur(8px);
border-radius: 20px;
padding: 30px;
box-shadow: 0 8px 30px rgba(255, 165, 195, 0.3);
width: 330px;
text-align: center;
border: 1px solid rgba(255, 182, 193, 0.4);
}

h2{
font-size: 24px;
font-weight: bold;
color: #ff6392;
margin-bottom: 20px;}

.display {
background-color: white;
 color: black;
 padding: 10px;
 border-radius: 10px;
 text-align: right;
 min-height: 80px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;}

.history {
font-size: 30px;
font-weight: bold;
position: absolute;
top: 10px;
left: 10px;
cursor: pointer;}

.hidden {
display: none;
}

.dark-toggle{
font-size: 30px;
font-weight: bold;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

.calculator.dark-mode {
background: #000;
color: white;
}


.calculator.dark-mode input {
background: #000;
color: white;
border: 1px solid #555;}

.calculator.dark-mode #expression{
background-color: #000;
color: white;}

.calculator.dark-mode button {
background: #2c2c2c;
color: black;}

.calculator.dark-mode li {
background-color: #000;
color: white;}

.calculator.dark-mode li.operator {
background-color: #000;
color: white;}

.expression {
min-height: 18px;
color: #aaa;
font-size: 8px;}

input{
width: 100%;
height: 70px;
padding: 10px;
margin: 8px 0;
border: none;
outline: none;
font-size: 32px;
text-align: right;
color: #333;}

input:focus {
border-color: #ff6392;
outline: none;
box-shadow: 0 0 5px #ffa6c9;}

.buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
list-style: none;
padding: 0;}

.buttons li{
background: #ff8fb1;
padding: 15px;
text-align: center;
font-size: 20px;
border-radius: 5px;
cursor: pointer;}

.buttons li.operator {
background: #ff5d8f;
color: white;
}

.buttons li:hover {
background: red;}
